{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> cover-single}}

<div class="main-content-area">
	<div class="container">
		<div class="row">
			{{#post}}
			<div class="col-md-8">
				<article class="card card-single post-wrap {{post_class}}">
					{{#if featured}}
                    <div class="featured"></div>
                    {{/if}}
					<div class="single-head">
						<h2 class="h1 title">{{title}}</h2>
						<div class="meta">
							<span  class="date"><i class="material-icons">&#xE192;</i>{{date format="MMMM DD, YYYY"}}</span>
							<span class="Comment"><i class="material-icons">&#xE0B9;</i><a href="{{url}}#disqus_thread">0 Comments</a></span>
							 {{#if tags}}
							<span class="tag-list"><i class="material-icons">&#xE2C8;</i>{{tags separator=", "}}</span>
							{{/if}}
						</div>
					</div>
					<div class="card-header {{^if image}}no-image{{/if}}">
						{{#if image}}
						<img src="{{image}}">
						{{/if}}
					</div>
					<div class="content">
						<div class="post-entry">
							{{content}}
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-4">
				<div class="side-panel">
					{{> about-author}}
					<hr>
					{{> share-links-single}}
				</div>
                <div class="side-panel">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- RHC ad -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px"
                         data-ad-client="ca-pub-5453676838668895"
                         data-ad-slot="1082686168"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
			</div>
			{{> prev-next}}
			{{> comment}}
			{{/post}}
		</div>
	</div>
</div>
